@charset "utf-8";
/* CSS Document */

	/*----*****---- << Headings >> ----*****----*/
	
	#home .main-title { background:url(../images/green/title-border.png) center bottom no-repeat; }

	/*----*****---- << Sprite icons background >> ----*****----*/
	
	.rounded-icon span { background:url(../images/green/home-icons.png) no-repeat; }	
	
	/*----*****---- << Text Elements >> ----*****----*/
	
	.content.dark-bg .hr { background:#2d412c; }

		/*----*****---- << Home >> ----*****----*/
		
		#home { background:#61a760 url(../images/green/home-mountain-bg.png) center bottom no-repeat; }
		
		.home-shadow { background:url(../images/green/home-bg-shadow.png) repeat-x; }
		
		.work-flow { background:url(../images/green/workflow-sep.png) 182px 60px no-repeat; }
		
		.rounded-icon span { border:5px solid #3d803b; }		
		
		/*----*****---- << Portfolio >> ----*****----*/
		
		.portfolio-image .image-overlay { background:url(../images/green/image-overlay-bg.png) no-repeat; }
		
	/*----*****---- << Main >> ----*****----*/
	
	.content.dark-bg { background:url(../images/green/dark-bg.jpg) repeat; }
	
		/*----*****---- << About >> ----*****----*/
		
		.testimonial-wrapper .rounded-image span { border:5px solid #2d3b2d; }
	
		.testimonial-content-wrapper { background:url(../images/green/testimonial-arrow.png) left 30px no-repeat; }
		.testimonial-content { background:#2d3b2d url(../images/quote.png) 95% 85% no-repeat; border-bottom:2px solid #565d50; }
		
		.testimonial-slider-arrows a { color:#2d3b2d; }
		
		/*----*****---- << Blog >> ----*****----*/
		
		.blog-entry .entry-metadata { background:#2d3b2d; }
		
		.slider-controls a.prev-posts, .slider-controls a.next-posts { color:#2d3b2d; }
		
		.slider-controls #pager a { background:#2d3b2d; }
		
		/*----*****---- << Portfolio >> ----*****----*/
		
		.portfolio-image .image-overlay a.zoom .icon-plus, .portfolio-image .image-overlay a.link .icon-link { color:#628950; }
		
		/*----*****---- << Contact >> ----*****----*/
		
		.dark-box { background:#2d3b2d; }
		
		/*----*****---- << Footer >> ----*****----*/
		
		#footer { background:#0e210e; }
